* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    min-height: 100vh;
}


.App {
    min-height: 100vh;
    background-color: black;
    /* background-image: url('./assets/bgacampa.png'); */
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50%;
    min-height: 300px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}


.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    gap: 2rem;
}

.over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.umapena {
    margin-top: 120px;
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background-color: #B15330;
    font-weight: bold;
}

.whats {
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
}

.whats a {
    color: #FFF3ef;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container label {
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.logo img {
    width: 400px;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.azul-claro {
    display: flex;
    column-gap: 15px;
}

.verde-claro {
    /* border: 1px solid greenyellow; */
    width: 220px;
    height: 260px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    padding-top: 5px;
}

.verde-claro input {
    /* margin-left: 25px;
    margin-top: 5px;
    outline: none;
    cursor: pointer; */
    display: none;
}

.verde-claro span {
    z-index: 99;
    opacity: 0.7;
    transition: all 0.5s;
    display: none;
}

.verde-claro p {
    color: #F5F5F5;
    font-family: Montserrat, sans-serif;
    margin-top: 10px;
}

.verde-claro label {
    color: black;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.rosa {
    display: flex;
    /* border: 1px solid deeppink; */
    gap: 15px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;

}

.name input {
    width: 794px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
    outline: none;
}

.name label {
    color: black;
    margin-bottom: 10px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;

}

.date input {
    width: 150px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
    outline: none;
    cursor: pointer;
}

.date label {
    color: black;
    margin-bottom: 10px;
}


.amarelo {
    display: flex;
    /* border: 1px solid orange; */
    gap: 15px;
    margin-top: 10px;
}


.tel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;

}

.tel input {
    width: 450px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
    outline: none;
}

.tel label {
    color: black;
    margin-bottom: 10px;
}

.doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;

}

.doc input {
    width: 500px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
    outline: none;
}

.doc label {
    color: black;
    margin-bottom: 10px;
}

.azul-escuro {
    display: flex;
    /* border: 1px solid darkblue; */
    gap: 15px;
    margin-top: 10px;
}

.church {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 86px;
    background-color: #F5F5F5;

}

.church input {
    width: 996px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
    outline: none;
}

.church label {
    color: black;
    margin-bottom: 10px;
}


.laranja {
    display: flex;
    gap: 10px;
}

.first {
    display: flex;
}


.roxo {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
}


.roxo label {
    color: black;
    cursor: pointer;
}

.roxo p {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.verde-agua {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
}

.verde-agua label {
    color: black;
    cursor: pointer;
}

.verde-agua p {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.vermelho {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
}

.vermelho label {
    color: black;
    cursor: pointer;
}

.vermelho p {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.pink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;
    margin-top: 10px;
}

.pink input {
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
    outline: none;
}

.pink label {
    color: black;
    margin-bottom: 10px;
}


.azul-marinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;
    margin-top: 10px;
}

.azul-marinho input {
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
    outline: none;

}

.azul-marinho label {
    color: black;
    margin-bottom: 10px;
}

.white {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F39f20;
    color: black;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 70px;
}

.white p {
    color: black;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    margin-left: 80px;
}

.white button {
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    font-family: Montserrat, sans-serif;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    margin-right: 100px;
    cursor: pointer;
}

.green {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    color: black;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    height: 150px;
}

.green label {
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 70px;

}

.green select {
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
    outline: none;
    font-family: Montserrat, sans-serif;
    width: 700px;
    font-size: 15px;
    margin-left: 70px;
}

.green option {
    background-color: #F5F5F5;
    font-family: Montserrat, sans-serif;
}

.green p {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-style: italic;
    margin-left: 70px;
}

.payment {
    display: flex;
    flex-direction: column;
    margin-left: -50px;

}

.whats {
    color: black;
    margin-right: 80px;
}

.whats a {
    background-color: #4CBD2F;
    padding: 10px 50px 10px 50px;
    color: black;
    border-radius: 5px;
    margin-left: 70px;
}

.whats p {
    width: 230px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.form-input {
    text-align: center;
    margin-left: -85px;
}

.form-input input {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 5px;
}

.touch {
    color: #F5F5F5;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-top: -40px;
}

.obrigado {
    text-align: center;
}










/* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color: #FFF3ef;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
} */


/* .form-container {
    border: 1px solid #FFF3ef;
}
 */




@media screen and (max-width: 600px) {
    /* .umapena {
        text-align: center;
        font-size: 1.2rem;
    }

    .over {
        margin-top: -50px;
    }

    .whats {
        margin-bottom: 50px;
        text-align: center;
    } */

    /* ESTILIZAÇÃO DA HOME */
    .App {
        background-color: black;
        /* background-image: url('./assets/bgacampamobile2.png') */
        background-size: cover;
        background-position: top;
    }

    .countdown-container {
        margin-top: -40px;
    }

    .button1 {
        margin-top: 120px;
    }

    .logo {
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    /* ESTILIZAÇÃO DO FORMS */
    .azul-claro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rosa {
        align-self: center;
    }

    .name {
        width: 150px;
    }

    .name input {
        width: 150px;
    }

    .date {
        width: 165px;
        height: 71px;
    }

    .date input {
        width: 150px;
    }

    .date label {
        font-size: 15px;
    }

    .amarelo {
        align-self: center;
    }

    .tel {
        width: 150px;
    }

    .tel input {
        width: 150px;
    }

    .doc {
        width: 165px;
    }

    .doc input {
        width: 150px;
    }

    .azul-escuro {
        align-self: center;
    }

    .church {
        width: 350px;
    }

    .church input {
        width: 350px;
    }

    .laranja {
        flex-direction: column;
        row-gap: 3px;
    }

    .roxo {
        align-self: center;
        width: 350px;
        border-radius: 5px;
    }


    .verde-agua {
        align-self: center;
        width: 350px;
        border-radius: 5px;
    }

    .verde-agua p {
        font-size: 15px;
    }

    .vermelho {
        align-self: center;
        width: 350px;
        border-radius: 5px;
    }

    .vermelho p {
        font-size: 14px;
    }

    .form-input input {
        margin-top: s5px;
        margin-left: 40px;
        margin-right: 5px;
    }

    .form-input {
        text-align: center;
        margin-left: -50px;
    }

    .pink {
        width: 350px;
        margin-left: -9px;
        height: 90px;
    }

    .pink input {
        width: 350px;
        margin-top: -1px;
    }

    .pink label {
        font-size: 15px;
        text-align: center;
        margin-top: -2px;
    }

    .azul-marinho {
        width: 350px;
        margin-left: -9px;
        height: 90px;
    }

    .azul-marinho input {
        width: 350px;
        margin-top: -1px;
    }

    .azul-marinho label {
        font-size: 15px;
        text-align: center;
        margin-top: -2px;
    }


    .green {
        width: 350px;
        margin-left: -9px;
    }

    .green select {
        width: 150px;
        margin-left: 45px;
    }

    .payment label {
        font-size: 15px;
        width: 200px;
        margin-left: 50px;
        margin-top: -10px;
    }

    .payment p {
        margin-left: 50px;
        font-size: 10px;
        margin-top: 8px;
    }


    .whats p {
        margin-left: -50px;
        font-size: 13px;
        text-align: end;
        width: 200px;
    }

    .whats a {
        padding: 7px 7px 7px 7px;
        font-size: 13px;
        margin-left: 20px;
    }

    .white {
        height: 90px;
        width: 350px;
        margin-left: -9px;
    }

    .white p {
        margin-left: -1px;
        font-size: 12px;
    }

    .white button {
        padding: 0 20px 0 20px;
        margin-left: 35px;
        margin-right: -5px;
        font-size: 13px;
        font-weight: bold;
    }
}