* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    min-height: 100vh;
}


.App {
    min-height: 100vh;
    background-color: black;
    /* background-image: url('./assets/bgacampa.png'); */
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50%;
    min-height: 300px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    gap: 2rem;
}

.over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.umapena {
    margin-top: 120px;
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background-color: #B15330;
    font-weight: bold;
}

.whats {
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
}

.whats a {
    color: #FFF3ef;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container label {
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.logo img {
    width: 400px;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
}






@media screen and (max-width: 600px) {
    .umapena {
        text-align: center;
        font-size: 1.2rem;
    }

    .over {
        margin-top: -50px;
    }

    .whats {
        margin-bottom: 50px;
        text-align: center;
    }

    .App {
        background-image: url('./assets/bgacampamobile2.png');
        background-size: cover;
        background-position: top;
    }
}