* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    min-height: 100vh;
}


.App {
    min-height: 100vh;
    background-color: black;
    /* background-image: url('./assets/bgacampa.png'); */
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50%;
    min-height: 300px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    gap: 2rem;
}

.over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.umapena {
    margin-top: 120px;
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background-color: #B15330;
    font-weight: bold;
}

.whats {
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
}

.whats a {
    color: #FFF3ef;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container label {
    color: #FFF3ef;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.logo img {
    width: 400px;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
}

.azul-claro {
    display: flex;
}

.verde-claro {
    /* border: 1px solid greenyellow; */
    width: 220px;
    height: 250px;
    text-align: center;
}

.verde-claro input {
    margin-left: 50px;
    margin-top: 5px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.rosa {
    display: flex;
    /* border: 1px solid deeppink; */
    gap: 15px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;

}

.name input {
    width: 794px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
}

.name label {
    color: black;
    margin-bottom: 10px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;

}

.date input {
    width: 150px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
}

.date label {
    color: black;
    margin-bottom: 10px;
}


.amarelo {
    display: flex;
    /* border: 1px solid orange; */
    gap: 15px;
    margin-top: 10px;
}


.tel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;

}

.tel input {
    width: 450px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
}

.tel label {
    color: black;
    margin-bottom: 10px;
}

.doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    height: 70px;
    background-color: #F5F5F5;

}

.doc input {
    width: 500px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
}

.doc label {
    color: black;
    margin-bottom: 10px;
}


.azul-escuro {
    display: flex;
    /* border: 1px solid darkblue; */
    gap: 15px;
    margin-top: 10px;
}


.church {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 86px;
    background-color: #F5F5F5;

}

.church input {
    width: 996px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: #B0B0B0;
}

.church label {
    color: black;
    margin-bottom: 10px;
}









/* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color: #FFF3ef;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
} */


.form-container {
    border: 1px solid #FFF3ef;
}








@media screen and (max-width: 600px) {
    .umapena {
        text-align: center;
        font-size: 1.2rem;
    }

    .over {
        margin-top: -50px;
    }

    .whats {
        margin-bottom: 50px;
        text-align: center;
    }

    .App {
        background-image: url('./assets/bgacampamobile2.png');
        background-size: cover;
        background-position: top;
    }
}